{{ $contact := index .Site.Params.contacts (.Params.contact | default "defaultcontact") }}
<div class="mt5 f5 gray nested-lh-copy bg-light-gray ph3 pv2 measure-wide-l">
  <span class="dn di-ns mr2">Contact:</span>
  <span class="mr2">
    {{ if $contact.email }}
      <a href="mailto:{{$contact.email}}?subject={{ .Title }}"><i class="fa fa-envelope-o"></i> {{ $contact.name }}</a>
    {{ else }}
      {{ $contact.name }}
    {{ end }}
  </span>
  {{ if $contact.facebook }}
    <span class="mr2">
      <a href="https://www.facebook.com/{{$contact.facebook}}" target="_new"><i class="fa fa-facebook"></i></a>
    </span>
  {{ end}}
  {{ if $contact.twitter }}
    <span class="mr2">
      <a href="https://www.twitter.com/{{$contact.twitter}}" target="_new"><i class="fa fa-twitter"></i></a>
    </span>
  {{ end}}
  {{ if $contact.linkedin }}
    <span class="mr2">
      <a href="https://www.linkedin.com/in/{{$contact.linkedin}}" target="_new"><i class="fa fa-linkedin"></i></a>
    </span>
  {{ end}}
  {{ if $contact.phone }}
    <span class="mr2">
    <a href="tel:{{$contact.phone}}"><i class="fa fa-phone"></i> {{ $contact.phone }}</a>
    </span>
  {{ end}}
</div>
